div#home {
  display: flex;
  flex-direction: column;
  padding: 151px 100px 60px;
  flex: 1;
  gap: 77px;

  span#top {
    border: 1px solid green;
  }

  span#bottom {
    display: flex;
    gap: 30px;

    span#gauche {
      flex: 1;
      flex-direction: column;
      gap: 30px;
      display: flex;

      span.ligne {
        display: flex;
        flex-direction: row;
        border: 1px solid yellow;
        padding: 50px;
        gap: 30px;

        &#deux {
          span.graphe {
            border: 1px solid black;
            padding: 15px;
            max-width: 30%;
            flex: auto;
            justify-content: center;
            align-items: center;
            display: flex;
          }
        }
      }
    }

    span#droite {
      width: 23%;
      flex-direction: column;
      gap: 40px;
      display: flex;

      span.ligneInfos {
        border: 1px solid orange;
        padding: 32px;
        justify-content: center;
        align-items: center;
        display: flex;
      }
    }
  }
}
